.slider-container {
    margin-bottom: 20px;
    text-align: center; 
}
  
.slider-container label {
    display: block;
    margin-bottom: 5px;
}
  
.slider-value {
    font-weight: bold;
}
  
.slider-container .slider {
    appearance: none;
    -webkit-appearance: none;
    width: 70%;
    margin: 10px auto;
    height: 10px;
    border-radius: 5px;
    background: #ddd;
    outline: none;
    opacity: 0.7;
    transition: opacity 0.2s;
    display: block;
    touch-action: none; /* Prevents scrolling while touching the slider */
}
  
.slider-container .slider:hover {
    opacity: 1;
}
  
.slider-container .slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #4CAF50;
    cursor: pointer;
}
  
.slider-container .slider::-moz-range-thumb{
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #4CAF50;
    cursor: pointer;
}